@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #101636;
}

a, button, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%
}

.logo {
    cursor: pointer;
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    cursor: pointer;
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 160, 223, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 160, 223, 0.8);
}

.header-left {
    display: flex;
    align-items: center;
}

h2.greeting {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    margin: 0;
}

.user-name {
    color: #0088a9; 
    font-weight: 700; 
    font-style: italic; 
}

.header-right {
    display: flex;
    align-items: center;
}

li a {
  position: relative;
  /* padding-right: 20px; */
  display: block;
}

.notification-dot {
  width: 8px;
  height: 8px;
  background-color: #ff4500;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 85px;
  box-shadow: 0 0 5px rgba(255, 69, 0, 0.7);
}