<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
<body>
  <div class="auth-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <h1>Log In</h1>
      <div class="input-box">
        <input type="email" placeholder="Email" required name="email" ngModel/>
        <i class='bx  bx-user'  ></i> 
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required name="password" ngModel/>
        <i class='bx  bx-lock'  ></i> 
      </div>
      <button type="submit" [disabled]="f.invalid">Login</button>
    </form>
    <div class="register-link">
      <p>Don’t have an account? <a routerLink="/signup" routerLinkActive="active">Sign up</a></p>
    </div>
  </div>
</body>